/* Lists */

.list{
    margin-bottom: 30px;
}

.list-feature{
  @extend .list;
  margin: 0;
  padding: 0;
  width: 80%;

  li{
      line-height:3.2em;
      @include add-border (1px, #cccccc , bottom);
      overflow: auto !important;
  }
  li:last-child{
      border: 0;
  }
  span{
      vertical-align: top;
      padding-top: 9px;
      font-size: 120%;
      padding-left: 20px; 
  }
}
.list-comments{
    margin:0;
    padding:0;
}
.list-comments li{
     padding: 10px 0 5px 0;
     @include add-border(1px, #cccccc, bottom);
}
.list-comments li:last-of-type{
    border: 0; 
}
.list-comments img{
    width: 100px;
}

/* Icons */
.fa-4{
    font-size: 24px;
}
.fa-5{
    font-size: 30px;
}
.fa-6{
    font-size: 36px;
}
.fa-7{
    font-size: 52px;
}
.fa-primary{
    color: $primary-color;
    
}
.fa-border{
    @include add-border(1px, $primary-color, all);
    @include border-radius(50px);
    padding:13px;
    width: 80px;
    margin-bottom: 10px;
}

/* Heading */

.text-primary{
    color: $primary-color;
}
.heading-primary-a{
    @extend .text-primary;
    @include add-border(2px, $primary-color, bottom)
}
.text-secondary{
    color: $secondary-color;
}
.heading-secondary-a{
    @extend .text-primary;
    @include add-border(2px, $secondary-color, bottom)
}
.text-light{
    color: $light-color;
}
.heading-light-a{
    @extend .text-primary;
    @include add-border(2px, $light-color, bottom)
}
.text-dark{
    color: $dark-color;
}
.heading-dark-a{
    @extend .text-primary;
    @include add-border(2px, $dark-color, bottom)
}

/* Emphasis */

.em-primary{
    color:$primary-color;
}
.em-secondary{
    color:$secondary-color;
}
.em-light{
    color:$light-color;
}
.em-dark{
    color:$dark-color;
}